{% extends 'base.html'%}



{% block content %}
<div class="container">
    <h1 class="text-center display-1 hero-text1 mb-5 "> من نحن</h1>
    <h5 class=" text-center">تقدم الوكالة مجموعة خدمات كاملة بما في ذلك التقنية والمبيعات والصيانة</h5>
    <img src="../static/images/Laboratory-pana.png" class="d-none d-lg-block ms-auto me-auto" height="777" width="777" alt="">
    <h1 class="text-center display-5"> اجهزة طبية <br> احترافية</h1>
    <p class="text-center "> <br> <br> لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم ايبسوم ايبسوم لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم ايبسوملووم لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم ايبسوم
        ,
        <br> <br> لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم ايبسوم , <br> <br>
        <br>
        <br> لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم ايبسوم , <br> لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم لورم ايبسوم لورم ايبسوم لورم ايبسوم لورم
    </p>

    <div>
        <div class="d-flex texter  bb">
            <div class="d-flex ms-auto me-auto first ">

                <div class="rounded-circle p-3 box-bg ">
                    <img src="../static/images/Shape.png" width="51" height="51" alt="">
                </div>

                <div class="hi">
                    <h3 class="fw-bold"> 42%</h3>
                    <p>Years of experience</p>
                </div>
            </div>
            <div class="d-flex ms-auto me-auto  ">

                <div class="rounded-circle p-3  box-bg ">
                    <img src="../static/images/Shape.png" width="51" height="51" alt="">
                </div>

                <div class="hi">
                    <h3 class="fw-bold"> 42%</h3>
                    <p>Years of experience</p>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="xx">
        </div>
        <div class=" help">
            <img src="../static/images/Group 1628.png" alt="">
        </div>
        <div class="hh">
            <img src="../static/images/gg.png" alt="">
        </div>
        <div>
            <p class="text-help">ضعوا أنفسهم في مكان التاجر. أنه<br> من المفترض أن تكون شريكًا على المدى الطويل. <br>من المفترض أن تكون شريكًا على المدى الطويل.</p>
            <h4 class="cc">هيا نبدأ</h4>
            <h3 class="tt">أنا أساعد الشركات <br> تحرك أسرع</h3>
        </div>
    </div>



</div>
{% endblock %}