{% extends 'base.html'%}



{% block content %}
<div class="container">
    <p class="fs-1">{{ items.devicename }}</p>
    <div class="left-right-image">
        <div class="container">
            <div class="">
                <div class="right-image">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="hidden-sm hidden-xs">{{items.shortdesc}}</h2>
                            <h2 class="hidden-lg hidden-md"></h2>
                            <span>{{items.kind}}</span>
                           <p   >{{items.longdesc}} </p>
                            <form action="/updatecard/{{items.id}}" method="POST" class="d-sm-flex align-items-center  gg">
                                <input type="submit"  value="ضافة الجهاز الى قائمة المتشري" class="btn btn-add" >
                                <div>
                                    
                                    <div class="row mb-8 justify-content-center counter ">
                                        <div class="row">
                                            <div class="d-flex justify-content-between">
                                                <div class="input-group w-auto justify-content-end align-items-center ">
                                                    <input type="button" value="-" class="button-minus btn btn-addd " id="decrement" data-field="quantity">
                                                    <input type="number" step="1" max="10" value="1" name="quantity" class="quantity-field border-0 text-center w-25">
                                                    <input type="button" value="+" class="button-plus btn btn-addd " id="increment" data-field="quantity">
                                                </div>
                                                
                                            </div>
                                        </div>  

                                        <script src="../static/test3.js"></script>
                                    </div>
                                </div>
                                <div class="">
                                    <h3 class="updated-price">{{ items.price }}$</h3>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="image">
                                <img src="{{ url_for('static',filename='images/' + items.img_file) }}" height="800" width="500" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div hidden class="origin-price"> {{ items.price }}</div>



{% endblock %}