{% extends 'base.html'%}



{% block content %}
<div class=" container ms-auto me-auto row">
{% for item in items %}
{% if item.kind=='الاجهزةالمنزلية' %}
<div class="card col-3 ms-2 me-2 " style="width: 18rem;">
    
    <img src="{{ url_for('static',filename='images/' + item.img_file) }}" height="200" width="100" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ item.devicename }}</h5>
      <p class="card-text">{{ item.shortdesc }}</p>
      <p class="card-text"> ${{ item.price }} </p>
      <a href="{{ url_for('info',id=item.id) }}" class="btn btn-primary">رؤيا المزيد</a>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %} 