{% extends 'base.html'%}



{% block content %}
<section>

  <div class="wrapper">
    <div class="d-md-flex align-items-md-center">
      <div class="h3">المنتجات</div>
      <div class="ml-auto d-flex align-items-center views"> <span class="btnn text-success"> <span
            class="fass fa-th px-md-2 px-1"></span><span>Grid view</span> </span> <span class="btnn"> <span
            class="fas fa-list-ul"></span><span class="px-md-2 px-1">List view</span> </span> <span
          class=" px-md-2 px-1">428</span> <span class="text-muted">Products</span> </div>
    </div>
    <div class="d-lg-flex align-items-lg-center pt-2">
      <div class="form-inline d-flex align-items-center my-2 mr-lg-2 radio bg-light border"> <label
          class="options">الاكثر شعبية <input type="radio" name="radio"> <span class="checkmark"></span> </label> <label
          class="options">الأرخص<input type="radio" name="radio" checked> <span class="checkmark"></span> </label>
      </div>
      <div class="form-inline d-flex align-items-center my-2 checkbox bg-light border mx-lg-2"> <label class="tick">Farm
          <input type="checkbox" checked="checked"> <span class="check"></span> </label> <span
          class="text-success px-2 count"> 328</span> </div>
      <div class="form-inline d-flex align-items-center my-2 checkbox bg-light border mx-lg-2"> <label class="tick">Bio
          <input type="checkbox"> <span class="check"></span> </label> <span class="text-success px-2 count"> 72</span>
      </div>
      <div class="form-inline d-flex align-items-center my-2 checkbox bg-light border mx-lg-2"> <label
          class="tick">Czech republic <input type="checkbox"> <span class="check"></span> </label> <span
          class="border px-1 mx-2 mr-3 font-weight-bold count"> 12</span> <select name="country" id="country"
          class="bg-light">
          <option value="" hidden>Country</option>
          <option value="India">India</option>
          <option value="USA">USA</option>
          <option value="Uk">UK</option>
        </select> </div>

    </div>
    <div class="container">
      <div class="search_wrap search_wrap_3">
        <div class="search_box">
          <input type="text" class="input" placeholder="البحث...">
          <div class="btnn btn_common">
            <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="d-sm-flex align-items-sm-center pt-2 clear">
      <div class="text-muted filter-label">Applied Filters:</div>
      <div class=" font-weight-bold p-0 px-1 mx-sm-1 mx-0 my-sm-0 my-2">Selected Filtre <span
          class=" px-1 close">&times;</span> </div>
      <div class=" font-weight-bold p-0 px-1 mx-sm-1 mx-0">Selected Filtre <span class=" px-1 close">&times;</span>
      </div>

    </div>

    <div class="filters"> <button class="btnn btn-success" type="button" data-toggle="collapse"
        data-target="#mobile-filter" aria-expanded="true" aria-controls="mobile-filter">Filter<span
          class="px-1 fas fa-filter"></span></button> </div>
    <div id="mobile-filter">
      <div class="py-3">
        <h5 class="font-weight-bold">الاجهزة الطبية</h5>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
            الاجهزة المختبرية<span class="badge badge-primary badge-pill">328</span> </li>
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
            الاجهزة التشخيصية <span class="badge badge-primary badge-pill">112</span> </li>
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
            الاجهزة العلاجية <span class="badge badge-primary badge-pill">32</span> </li>
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
            الاجهز المنزلية <span class="badge badge-primary badge-pill">48</span> </li>
        </ul>
      </div>
      <div class="py-3">
        <h5 class="font-weight-bold">الماركات</h5>
        <form class="brand">
          <div class="form-inline d-flex align-items-center py-1"> <label class="tick">Medtronic <input type="checkbox">
              <span class="check"></span> </label> </div>
          <div class="form-inline d-flex align-items-center py-1"> <label class="tick">Johnson & Johnson <input
                type="checkbox" checked> <span class="check"></span> </label> </div>
          <div class="form-inline d-flex align-items-center py-1"> <label class="tick">Danaher <input type="checkbox"
                checked> <span class="check"></span> </label> </div>
          <div class="form-inline d-flex align-items-center py-1"> <label class="tick">Siemens <input type="checkbox">
              <span class="check"></span> </label> </div>
          <div class="form-inline d-flex align-items-center py-1"> <label class="tick">Fresenius <input type="checkbox">
              <span class="check"></span> </label> </div>
        </form>
      </div>
      <div class="py-3">
        <h5 class="font-weight-bold">التقييمات</h5>
        <form class="rating">
          <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span class="fas fa-star"></span>
              <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span>
              <span class="fas fa-star"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
          <div class="form-inline d-flex align-items-center py-2"> <label class="tick"> <span
                class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox">
              <span class="check"></span> </label> </div>
          <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span class="fas fa-star"></span>
              <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <input
                type="checkbox"> <span class="check"></span> </label> </div>
          <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span class="fas fa-star"></span>
              <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span
                class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <input
                type="checkbox"> <span class="check"></span> </label> </div>
          <div class="form-inline d-flex align-items-center py-2"> <label class="tick"> <span
                class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span
                class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <span
                class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label>
          </div>
        </form>
      </div>
    </div>
    <div class="content py-md-0 py-3">
      <section id="sidebar">
        <div class="py-3">
          
          <h5 class="font-weight-bold">الاجهزة الطبية</h5>
          <ul class="list-group">
            <li
              class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
              الاجهزة المختبرية<span class="badge badge-primary ">328</span> </li>
            <li
              class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
              الاجهزة التشخيصية <span class="badge badge-primary badge-pill">112</span> </li>
            <li
              class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
              الاجهزة العلاجية <span class="badge badge-primary badge-pill">32</span> </li>
            <li
              class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
              الاجهزة المنزلية <span class="badge badge-primary badge-pill">48</span> </li>
          </ul>
        </div>
        <div class="py-3">
          <h5 class="font-weight-bold">الماركات</h5>
          <div class="form-inline d-flex align-items-center py-1"> <input id="check" type="checkbox" class="check" />
            <label htmlFor="check"><span className="icon"></span> Medtronic </label> </div>
          <div class="form-inline d-flex align-items-center py-1"> <input id="check" type="checkbox" class="check" />
            <label htmlFor="check"><span className="icon"></span>Johnson & Johnson</label> </div>
          <div class="form-inline d-flex align-items-center py-1"> <input id="check" type="checkbox" class="check" />
            <label htmlFor="check"><span className="icon"></span> Danaher </label> </div>
          <div class="form-inline d-flex align-items-center py-1"> <input id="check" type="checkbox" class="check" />
            <label htmlFor="check"><span className="icon"></span> Siemens </label> </div>
          <div class="form-inline d-flex align-items-center py-1"> <input id="check" type="checkbox" class="check" />
            <label htmlFor="check"><span className="icon"></span> Fresenius</label> </div>

          </form>
        </div>
        <div class="py-3">
          <h5 class="font-weight-bold">التقييمات</h5>
          <form class="rating">
            <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span
                  class="check"></span><span class="fas fa-star"></span><span class="fas fa-star"></span> <span
                  class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <input
                  type="checkbox"> </label> </div>
            <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span
                  class="check"></span><span class="fas fa-star"></span><span class="fas fa-star"></span> <span
                  class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                  class="far fa-star px-1 text-muted"></span> <input type="checkbox"> </label> </div>
            <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span
                  class="check"></span><span class="fas fa-star"></span><span class="fas fa-star"></span> <span
                  class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span
                  class="far fa-star px-1 text-muted"></span> <input type="checkbox"> </label> </div>
            <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span
                  class="check"></span><span class="fas fa-star"></span><span class="fas fa-star"></span> <span
                  class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <span
                  class="far fa-star px-1 text-muted"></span> <input type="checkbox"> </label> </div>
            <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span
                  class="check"></span><span class="fas fa-star"></span><span
                  class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <span
                  class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <input
                  type="checkbox"> </label> </div>
          </form>
        </div>
      </section> 
      <!-- Products Section -->
      <section id="products">
        <div class="container py-3">
          <div class="row">
            {% for item in items %}
            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
              <div class="card"> <img class="card-img-top img" src="{{ url_for('static',filename='images/' + item.img_file) }}" height="1194"
                  width="203">
                <div class="card-body">
                  <h6 class="font-weight-bold pt-1">{{ item.devicename }}</h6>
                  <div class="text-muted description">{{ item.shortdesc }}</div>
                  <div class="d-flex align-items-center product"> <span class="fas fa-star"></span> <span
                      class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span>
                    <span class="far fa-star"></span> </div>
                  <div class="d-flex align-items-center justify-content-between pt-3">
                    <div class="d-flex flex-column">
                      <div class="h6 font-weight-bold">${{ item.price }}</div>
                      <div class="text-muted rebate">48.56</div>
                    </div>
                    <a href="{{ url_for('info',id=item.id) }}" class="btn btn-primary btn-outline-primary">رؤيا المزيد</a>
                    
                  </div>
                </div>
              </div>
            </div>
           
            {% endfor %}
          </div>
        </div>
      </section>

    </div>
  </div>
</section>










<!-- انتبه هنا الحل القديم -->





<div class=" container ms-auto me-auto row">
  
  
  
    </div>
  
{% endblock %}