{% extends 'base.html'%}



{% block content %}
<script src="test2.js"></script>
<div class="container">
    
    <div class="shopping-cart mt-5">
        {% if session["card"] == [] %}
        يرجى اختيار المنتجات اولا
        {% else %}
        <table class="table table-borderless">
            <thead>
                <th class="">الصورة</th>
                <th class="">المنتج</th>
                <th class="">السعر</th>
                <th class="">الكمية</th>
                
                <th class="">المجموع</th>
                
                
                
                
                

            </thead>
        </table>
{% endif %}
    </div>

    
   
        

    {% for result in results %}

    {% for item in items %}

       {% if item.id == result["id"] %}
      
        <div class="product">
            <div class="product-image">
                <img src="{{ url_for('static',filename='images/' + item.img_file) }} " height="100" width="100" class="d-block ms-auto">
            </div>
            <div class="product-details">
                <div class="product-title">{{item.devicename}}</div>
                <p class="product-description"> {{item.shortdesc}}</p>
            </div>
            <div class="product-price">{{item.price}}</div>
            <div class="product-quantity">
                <input class="input" type="text" placeholder="{{result.qty}}">
            </div>
           
            <div class="product-line-price"> {{item.price * result.qty}}</div>
        </div>

       {% endif %}
    {% endfor %}
    {% endfor %}
    
    {% if session["card"] != [] %}
    <div class="totals">
        <div class="totals-item">
            <label>المجموع</label>
            <div class="totals-value" id="cart-subtotal">{{ sum }}</div>
        </div>
        <div class="totals-item">
            <label>التوصيل</label>
            <div class="totals-value" id="cart-tax">5</div>
        </div>

        <div class="totals-item totals-item-total">
            <label>Grand Total</label>
            <div class="totals-value" id="cart-total"> {{5 + sum }}</div>
        </div>
        <a href="{{url_for('payment')}}" class=" btn checkout">اكمل الطلب</a>
    </div>
    {% endif %}
    

</div>


{% endblock %}  
